/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
    url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
    url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
    url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}
img {
    max-width: 100%;
    height: auto;
}

.wrapper{
    max-width: 1060px;
    margin: 0 auto;
}
.wrapper-full {
    max-width: 1262px;
    margin: 0 auto;
}
.section-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}
.section-title::after {
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}
.header-list {
    display: flex;
    flex-wrap: wrap;
}
.header-item {
    margin-right: 82px;
}
.header-item:last-child {
    margin-right: 0;
}
.header-link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}
.header-link:hover, .header-link:focus, .header-link:active {
    opacity: .75;
}



/*Intro*/
.intro {
    min-height: 100vh;
    background: url("../img/image.jpg") no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
}
.intro-title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
margin-bottom: 22px;
    color: #FFFFFF;
}
.intro-subtitle {
    max-width: 546px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 59px;
    color: #FFFFFF;
}
.search-form-info {
    display: flex;
    flex-wrap: wrap;
}
.search-form-field {
    width: 297px;
    background-color: transparent ;
    background: url(../img/svg/circle-ico.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom:  2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
.search-form-field::placeholder {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
.search-form-submit {
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: white;
    background: #1B7DFF;
    border: 0;
}
.search-form-submit:hover, .search-form-submit:focus, .search-form-submit:active{
    background: #1d4d92; ;
}


/*Benefits*/
.benefits {
    margin-bottom:131px ;
}
.benefits-wrap {
    max-width: 1262px;
    background-color: #FFFFFF;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}
.benefits-title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #FFFFFF;
}
.benefits-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}
 .benefits-card {
     grid-column: span 1;
     margin-bottom: 112px;
 }
.benefits-card-pic {
    max-width: 66px;
    margin-bottom: 37px;
}
.benefits-card-thumb {
    display: block;
}
.benefits-card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}
.benefits-card-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}
.benefits-card-more {
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url("../img/svg/strelka.svg") no-repeat 95% center;
    transition: .2s all;
}

.benefits-card-more:hover, .benefits-card-more:focus {
    background: url("../img/svg/strelka.svg") no-repeat right center;
}

/*Places*/

.places {
    margin-bottom: 131px;
}


.places-caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}
.places-title {
    margin-right: 15px;
}
.places-view-all {
    font-size: 16px;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url("../img/svg/strelka.svg") no-repeat right center;
}
.places-view-all:hover, .places-view-all:focus {
    opacity: .55;
}

.places-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}
.places-card {
    position: relative;
    overflow: hidden;
}
.places-card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color:  rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.places-card:hover .places-card-pic{
transform: scale(1.05);
}
.places-card-title {
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}
.places-card-size-lg {
    grid-column: span 3;
}
.places-card-size-sm {
    grid-column: span 2;
}
.places-card-pic {
    width: 100%;
    transition: .15s all;
}
.places-card-pic-size-lg{
    height: 354px;
    object-fit: cover;
}
.places-card-pic-size-ssm {
    height: 283px;
    object-fit: cover;
}
.places-card-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}


/*Tour*/
.tours {
   margin-bottom: 139px;
}
.tours-tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;
}
.tour-info {
    padding-left: 47px;
}
.tour-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}
.tour-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
}
.tour-more {
    font-size: 16px;
    color: #1170c8;
    text-decoration: none;
    padding-right: 59px;
    background: url("../img/svg/strelka.svg") no-repeat right center;
}
.tour-more :hover, .tour-more :focus {
    opacity: .55;
}


/*Top*/
.top {
    margin-bottom: 86px;
}
.top-title {
    margin-bottom: 54px;
}
.top-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
}
.top-card-pic {
     position: relative;
    margin-bottom: 45px;
}
.top-card {
    display: flex;
    flex-direction: column;
}

.top-card-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;
}
.top-card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 auto 0 0;
}
.top-card-likes {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 20px;
    background: url("../img/svg/p1.svg") no-repeat right;
    margin-right: 14px;
}
.top-card-comments {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 20px;
    background: url("../img/svg/p2.svg") no-repeat right;
}
.top-card-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;

}
.top-card-more {
    width: 118px;
    padding: 12px 19px;
    background: #006DFE;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    margin: auto 0 0 0;
}
.top-card-more:hover, .top-card-more:focus, .top-card-more:active {
    background: #1d3d66;
}
